<p>Welcome to al-Fleet!</p>

<img class="header" src="images/al_fleet.bmp" height="200" width="500" />

<form action="search" method="post">
	<input type="text" name="searcharea"><br>
	<input type="submit" value="search">
</form>

<div class="foot">
	<