// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	position: fixed;
	top: 30%;
	left: 30%;
	margin-top: 10px;
	// margin-left: 10px;
}

form {
	position: fixed;
	top: 45%;
	left: 35%;
}
